body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #f0eafb, #c9c9ff);
    color: #333;
}

header {
    background: rgb(253, 190, 200);
    color: #1a1818;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #111010;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #fffdfc;
}

main {
    padding: 20px;
}

section {
    background: #ffffff;
    margin: 20px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
    color: rgb(185, 66, 86);
}

footer {
    text-align: center;
    padding: 10px 0;
    background: rgb(255, 172, 172);
    color: #000000;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* CSS untuk Kotak Cuaca */
.container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background-color: #ffffff;
    width: 200px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-10px);
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #000000;
}

p {
    font-size: 0.9em;
    color: #000000;
}
